@page "/"
@using System.IO;  


<PageTitle>Todo</PageTitle>

<center> <h1>Domine seu trabalho organize sua vida </h1></center>

<center><div>Lembre-se de tudo e enfrente cada projeto com suas notas, tarefas e calendário, tudo no mesmo lugar.</div></center>

<p><center> <div>LEMBRE-SE DE TUDO</div></center></p>


<ul>
  <li>Mantenha as informações importantes à mão</li>
  <li>Suas notas sincronizam automaticamente em todos os seus dispositivos.</li>
  <li>Junte suas notas, tarefas e calendários para concluir as coisas mais facilmente.</li>
</ul>
